
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sens-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.navbar{
justify-content: space-between;
align-items: center;
}
.nav-links{
   list-style: none;
}
.dispaly-flex{
    display: flex;
}
.nav-item{
  list-style: none;
  /* margin-right: 30PX; */
}
.nav-link{
  text-decoration: none;
  margin-right: 30px;
    list-style: none;
}
.text-gray{
   color: #424242;
}
.text-light-gray{
color: #727272;
}
.bg-light{
 background-color: rgba(255, 144, 14, 0.1);
}
/* banner think  */
.navbar , .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.brand{
  font-weight: bold;
  margin-right: 3ram;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  align-items: center;
  align-content: center;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.button-primary
{
  background-color:#FF900E ;
  color: white;
  padding: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
}
.banner-content img{
 width: 100%;
  align-items: center;
}
main{
  max-width: 1440px;
  margin:0 auto;
}

/* about team  */
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
main section{
  margin-top: 130px;
}
.our-features{
margin-left: 130px;
}
#Features{
font-size: 2.8rem;
color: #FF900E;

}
#Quick-list{
font-size: 2.8rem;
}
.feature-title{
font-size: 2.8rem;
color: #131313;
}

.feature-p{
 color:#131313 ;
}
/* sectionfect  */
.fact{
  border:1px solid #FF900E ;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-header{
  width: 530px; ;
  margin-top: 5px;
  margin-bottom: 130px;
}
/* about sponsors  */
.spnsor-info{
  width: 540px;
  margin-left: 20px;
  text-align: center;

  margin: 0 auto;
   
}

.box-card{
  box-shadow: 0 4px 30px 0;
   width: 586px;
  height: 171px;
  /* border: 1px solid red; */
  padding: 30px;
    margin-bottom:20px ;
    border-radius: 30px;

}
.box{
  gap: 20px;
  background-color: white;
  margin-bottom:20px ;
margin-right: 110px;
}
.features{
  align-items: center;
}

.sponsor-companis{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: center;
}
.sponsor-companis img{
  filter: grayscale(100);
}

/* smaal size responsive */
@media screen and (max-width:576px) {
  .navbar , .nav-links , .teams , .sponsor-companis , .spnsor-info{
    flex-direction:column ;
    grid-template-columns: repeat(1,1fr);
    margin: 0 auto;

  }
  .team-img-container, .fact-container{
    grid-template-columns:repeat(1,1fr) 
  }
  .our-features{
margin-left: 20px;
}
.fact-container{
  justify-items: center;
}
.fact-container , .sponsor-companis{
  justify-items: center;
  gap: 24px;
}

}


/* med size divaiz */
@media screen and   (min-width:576px) and (max-width:992px) {
  
.teams{
  flex-direction: column;



}

.our-features{
margin: 50px auto;


}


.sponsor-companis , .fact-container{
  grid-template-columns: repeat(2.1fr);
}
}

